.recommendedBox {
    list-style-type: none;
    width: 100%;
    justify-content: center;
    grid-column: 2;
}

.recommendedTitle {
    color:rgb(249, 180, 124);
    text-align: center;
    margin-bottom: 1rem;
}

.recommendedList {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }